@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  color: #46423f;
  background-color: #f84c48;
}

body {
  background-color: #f84c48;
}

.c-bg-pdcol {
  background-color: #f84c48;
}
.c-text-pdcol {
  color: #f84c48;
}

.animbutton {
  transition: all 0.3s ease-in-out;
}

.animbutton:before {
  content: "";
  position: absolute;
  top: 70%;
  left: 90%;
  width: 2rem;
  height: 2rem;
  background-color: white;
  transition: all 0.3s ease-in-out;
  transform: rotate(-45deg);
}

.animbutton:hover:before {
  top: 0;
  left: -160%;
  width: 380%;
  height: 800%;
}

.animbutton>span {
  transition: all 0.3s ease-in-out;
  display: block;
  height: 100%;
  position: relative;
  top: 0;
}

.animbutton:hover span {
  top: -100% !important;
}

.animbutton>span:after {
  content: attr(data-text);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  color: #f84c48;
}

#page-loader {
  background-color: white;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0%;
  left: 100%;
  transition: all 1s ease-in-out;
}

#page-loader.start-loader {
  left: 0%;
}

#page-loader.start-loader>span {
  color: red;
}